<div class="container">
  <div class="calc-wrapper">
    <div class="calc-header">
      <div class="calc-header--top">
        <!-- <div class="count-block">{{calculationPlace}}</div> -->
        <input class="count-block" type="text" value="{{calculationPlace}}">
      </div>
      <div class="calc-header--main">
        <div class="result-block">{{resultPlace}}</div>
      </div>
    </div>
    <div class="calc-main">
      <div class="calc-main--left">
        <div class="main-left--top">
          <button class="button" (click)="clearAll()">C</button>
          <button class="button" (click)="enterMinusBeforeDigit()">+/-</button>
          <button class="button">%</button>
        </div>
        <div class="main-left--digits">
          <button class="button" *ngFor="let digit of digits" (click)="clickDigit(digit)">{{digit}}</button>
        </div>
      </div>
      <div class="calc-main--right">
        <button class="button button-operation" *ngFor="let operator of operators"
          (click)="clickOperator(operator)">{{operator}}</button>
      </div>
    </div>
    <div class="calc-bottom">
      <div class="calc-bottom--right">
        <button class="button btn-equal" (click)="result()">=</button>
      </div>
    </div>
  </div>
  <div class="history-block">
    <button *ngIf="activateHistory" class="history-button" (click)="navigateTo()"></button>
  </div>
</div>

<router-outlet></router-outlet>