%items-position {
  display: flex;
  align-items: center;
}

.container {
  justify-content: center;
  flex-direction: column-reverse;
  @extend %items-position;
}

.calc {
  &-wrapper {
    height: 500px;
    width: 300px;
    margin: 50px auto;
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 10px 5px;
    box-shadow: 0 7px 50px rgba(10, 16, 20, 0.15), 0 0 14px rgba(10, 16, 20, 0.12);
  }

  &-wrapper--changed {
    background-color: black;
  }

  &-header {
    height: 30%;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }

  &-header--inner {
    font-size: 50px;
    color: #61c6f2;
    margin: 0 10px 10px 0;
    font-family: 'Rubik', sans-serif;
  }

  &-header--changed {
    font-size: 50px;
    color: white;
    margin: 0 10px 10px 0;
    font-family: 'Rubik', sans-serif;
  }

  &-main {
    height: 70%;
    flex-wrap: wrap;
    justify-content: center;
    @extend %items-position;
  }
}

.button {
  background-color: #fff;
  color: #61c6f2;
  width: 60px;
  height: 60px;
  font-size: 30px;
  margin: 0 7px;
  border: none;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  box-shadow: 0 6px 6px rgba(10, 16, 20, .15), 0 0 205px rgba(10, 16, 20, .12);

  &:active {
    background-color: #61c6f2;
    color: white;
  }

  &-changed {
    background-color: #333333;
    color: white;
    width: 60px;
    height: 60px;
    font-size: 30px;
    margin: 0 7px;
    border: none;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    box-shadow: 0 6px 6px rgba(10, 16, 20, .15), 0 0 205px rgba(10, 16, 20, .12);

    &:active {
      background-color: #808080;
    }
  }
}

.btn {
  &-operator {
    background-color: #61c6f2;
    color: white;
  }

  &-operator:focus {
    background-color: rgb(23, 148, 202);
  }

  &-equal {
    background-color: #61c6f2;
    color: white;
    width: 130px;
    border-radius: 30px;
  }

  &-equal:active {
    background-color: #18b1f3;
  }

  &-orange {
    background-color: #fe9505;
  }

  &-orange:focus {
    background-color: white;
    color: #fe9505;
  }

  &-equal--changed {
    background-color: #fe9505;
    color: white;
    width: 130px;
    border-radius: 30px;
  }

  &-equal--changed:active {
    background-color: white;
    color: #fe9505;
  }

}


.change {
  &-btn {
    width: 50px;
    height: 50px;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 50%;
  }

  &-btn:active {
    transform: translateY(2px);
  }

  &-orange{
    background-color: #fe9505;
  }

  &-blue{
    background-color: #61c6f2;
  }

}
