%items-position {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
}

.count-block {
  font-size: 25px;
  padding-top: 20px;
  color: #61c6f2;
  margin-right: 10px;
  font-family: 'Rubik', sans-serif;
}

.result-block {
  font-size: 50px;
  color: #61c6f2;
  margin-right: 10px;
  font-family: 'Rubik', sans-serif;
}

// .calc-header--top input{
//   height: 100%;
//   width: 300px;
//   border: none;
//   background: transparent;
// }

.calc {
  &-wrapper {
    height: 500px;
    width: 300px;
    margin-top: 100px;
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 10px 5px;
    box-shadow: 0 7px 50px rgba(10, 16, 20, 0.15), 0 0 14px rgba(10, 16, 20, 0.12);
  }

  &-header {
    height: 150px;
    overflow: hidden;
  }

  &-header--top {
    height: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &-header--main {
    height: 60%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &-main {
    height: 280px;
    display: flex;
  }

  &-main--left {
    height: 100%;
    width: 75%;
  }

  &-main--right {
    height: 100%;
    width: 25%;
    flex-wrap: wrap;
    @extend %items-position;
  }

  &-main--right button {
    background-color: #61c6f2;
    color: white;

    &:active {
      background-color: #18b1f3;
    }
  }

  &-bottom {
    height: 70px;
    display: flex;
    justify-content: flex-end;
  }

  &-bottom--left {
    width: 25%;
    height: 100%;
    @extend %items-position
  }

  &-bottom--right {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.main {
  &-left--top {
    height: 25%;
    width: 100%;
    @extend %items-position;
  }

  &-left--digits {
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
  }
}

.button {
  background-color: #fff;
  color: #61c6f2;
  width: 60px;
  height: 60px;
  font-size: 30px;
  margin: 0 7px;
  border: none;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  box-shadow: 0 6px 6px rgba(10, 16, 20, .15), 0 0 205px rgba(10, 16, 20, .12);

  &:active {
    background-color: #61c6f2;
    color: white;
  }
}

.btn-equal {
  background-color: #61c6f2;
  color: white;
  width: 130px;
  border-radius: 30px;

  &:active {
    background-color: #18b1f3;
  }
}



