<div class="container">
  <div class="calc-wrapper">
    <div class="calc-header">
      <div class="calc-header--top">
        <div class="count-block">256 × 4</div>
      </div>
      <div class="calc-header--main">
        <div class="result-block">1,024</div>
      </div>
    </div>
    <div class="calc-main">
      <div class="calc-main--left">
        <div class="main-left--top">
          <button class="button">C</button>
          <button class="button">+/-</button>
          <button class="button">%</button>
        </div>
        <div class="main-left--digits">
          <button class="button">7</button>
          <button class="button">8</button>
          <button class="button">9</button>
          <button class="button">4</button>
          <button class="button">5</button>
          <button class="button">6</button>
          <button class="button">1</button>
          <button class="button">2</button>
          <button class="button">3</button>
        </div>
      </div>
      <div class="calc-main--right">
        <button class="button">÷</button>
        <button class="button">×</button>
        <button class="button">-</button>
        <button class="button">+</button>
      </div>
    </div>
    <div class="calc-bottom">
      <div class="calc-bottom--left">
        <button class="button">0</button>
        <button class="button">.</button>
      </div>
      <div class="calc-bottom--right">
        <button class="button btn-equal">=</button>
      </div>
    </div>
  </div>
</div>
