%flex-position{
  display: flex;
  align-items: center;
}

%font{
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 500px;
  margin: 0 auto;
}

.history {
  &-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    margin: 5px 0;
  }

  &-left {
    width: 80%;
    justify-content: space-between;
    @extend %flex-position
  }

  &-calculate::before {
    content: 'Calculate: ';
    font-size: 15px;
    @extend %font;
    margin-right: 10px;
  }

  &-calculate {
    font-size: 24px;
    @extend %flex-position

  }

  &-result::before {
    content: 'Result';
    font-size: 15px;
    margin-right: 10px;
    color: black;
    @extend %font;
  }

  &-result {
      font-size: 28px;
      color: red;
      @extend %flex-position
  }

}
