<div class="container">
  <div class="redirect-button--wrapper">
    <button class="redirect-button" (click)="navigateTo()">Close History</button>
  </div>
  <div class="history-wrapper" *ngFor="let history of historyArray">
    <div class="history-left">
      <div class="history-calculate">
        {{history.calculate}}
      </div>
      <div class="history-result">
        {{history.result}}
      </div>
    </div>
    <div class="history-right">
      <button (click)="deleteSingleHistory(history.id)"></button>
    </div>
  </div>
</div>
